/* importando fuente roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* declarando variables de los colores */
:root{
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris-oscuro: #666;
    --Gris-claro: #ebebeb;
    --Verde: #39b54a;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto";
}


/* dando forma al header */



ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    list-style: none;
}

body{
    font-family: 'robota',sans-serif;
    margin:0;
    margin-right: 1.2rem;
    background-color: var(--Gris-claro);
}


/* -----------browser style ------------ */

.browser input{
    box-sizing:border-box ;
    border: none;
    padding: 0.2rem;
}


header{
    background-color: var(--Amarillo);
}

.cuotasAd{
    display: flex;
    align-items: center;
    margin: 1rem;
    justify-content: center;
}
/* nav style--------------------------------- */

.mobile-nav{
    display: none;
}

nav div {
    background-color: var(--Gris-claro);
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

nav div ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 2rem;
}

nav div ul li{
    margin: 1rem;
}

.burger-menu{
    
    background-color: var(--Gris-oscuro);
    padding: 0.5rem;
    border-radius: 0.4rem;
}
.banner{
    width: 100%;
}

/* comenzando el main */
p{
    font-size: 12px;
}

/* comienzo de las secciones */

/*BREACKPOINT MIN 361*/
@media (min-width: 361px) {
  .main-header .top-bar .copy-header {
    text-align: right;
    font-size: 16px;
  }

  .main-header .top-bar .copy-header,
  .main-header .logo,
  .main-header .search {
    flex-basis: 32%;
  }

  .main-header .hamburguer-button {
    display: none;
  }

  .main-header .main-navbar {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .main-header .main-navbar ul {
    display: flex;
  }

  .main-header .main-navbar li {
    margin: 10px;
  }

  .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product-container article {
    flex-basis: 48%;
  }

  .product-container h3 {
    flex-basis: 100%;
  }
}

/*BREACKPOINT MIN 769*/
@media (min-width: 769px) {
  .main-header .logo {
    width: 250px;
  }

  .main-header .top-bar,
  .main-header .main-navbar {
    max-width: 1200px;
    margin: auto;
  }

  .main-header .top-bar {
    align-items: center;
  }

  .main-header .main-navbar a {
    font-size: 17px;
    margin-top: 30px;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  footer div {
    flex-basis: 32%;
  }

  footer .copyright {
    flex-basis: 100%;
  }
}

main {
  width: 90%;
  margin: 0 auto;
}

.product-container h3 {
  padding: 30px 0;
  font-size: 24px;
  margin-bottom: 10px;
  color: #666;
}

.product {
  margin-bottom: 25px;
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.5);
  position: relative;
}

/* JUGAMOS CON EL HOVER */
.product:hover {
  box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.7);

}

/* HAGO WILLY CON EL TRUCK */
.product:hover .product-info i {
  transform: rotateZ(-90deg);

}

/* HAGO MUESTRO EL TITULO DEL PRODUCTO */
.product:hover .product-info h5 {
  opacity: 1;
}

.product img {
  width: 100%;
  padding: 20px;
}

.product .product-info {
  background-color: #fff;
  padding: 25px;
  border-top: 1px solid #ebebeb;
  position: relative;
}

.product .product-info i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  color: #39b54a;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  z-index: 50;
  right: 20px;
  top: -15px;
  transition: all 450ms;
}

.product .product-info .price-box {
  display: flex;
}

.product .product-info .price {
  font-size: 18px;
  line-height: 20px;
  flex-grow: 0.3;
}

.product .product-info .discount {
  font-size: 16px;
  line-height: 20px;
  color: #39b54a;
  flex-grow: 0.7;
}

.product .product-info h5 {
  font-size: 16px;
  font-weight: normal;
  margin-top: 20px;
  opacity: 0;
  transition: all 0.1s;
}

.product-container article {
  flex-basis: 24%;
}



/* ---------------------------------------------------------- */

footer{
    margin: 2rem;
    padding: 2rem;
    background-color: var(--Amarillo);
}


.footerItem{
    text-align: center;
    padding: 5rem;
}

.footerIcon{
    font-size: 2em;
    color: var(--Celeste);
}

.copyright{
    font-size: 10px;
    justify-content: center;
    display: flex;
    
}


.desktop-nav{
    display: none;
}
.mobile-nav{
    display: flex;
    background-color:var(--Gris-claro);
    padding: 1.5rem;
    justify-content: space-between;
}
.mobile-nav div i{
    font-size: 1.2rem;
    margin: 0.2rem;
}
.encabezado{
    flex-direction: column;
}
.logoPrinc{
    width: 70%;
}

footer ul{
    flex-direction: column;
}



/* responsive */
@media (min-width:700px) {
    .productInfo{
        font-family:'Roboto', sans-serif;
        display: flex;
        text-align: center;
        flex-direction: column;
        background-color: var(--Gris-claro);
        padding: 2rem;
        margin: 1rem;
        width: 15%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        
    }
    .productContainer{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .desktop-nav{
        display: flex;
    }
    .mobile-nav{
        display: none
    }
    .encabezado{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: initial;
    }
    .logoPrinc{
        width:30%;
        padding: 1rem;
    }
    footer ul{
        display: flex;
        flex-direction: initial;
        justify-content: space-between;
    }
}