/* importando fuente roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* declarando variables de los colores */
:root{
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris-oscuro: #666;
    --Gris-claro: #ebebeb;
    --Verde: #39b54a;
}


/* dando forma al header */

.encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    list-style: none;
}

body{
    font-family: 'robota',sans-serif;
    margin:0;
    margin-right: 1.2rem;
    background-color: var(--Gris-claro);
}

.logoPrinc{
    width:30%;
    padding: 1rem;
}
/* -----------browser style ------------ */

.browser input{
    box-sizing:border-box ;
    border: none;
    padding: 0.2rem;
}


header{
    background-color: var(--Amarillo);
}

.cuotasAd{
    display: flex;
    align-items: center;
    margin: 1rem;
    justify-content: center;
}
/* nav style--------------------------------- */

.mobile-nav{
    display: none;
}

nav div {
    background-color: var(--Gris-claro);
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

nav div ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 2rem;
}

nav div ul li{
    margin: 1rem;
}

.burger-menu{
    
    background-color: var(--Gris-oscuro);
    padding: 0.5rem;
    border-radius: 0.4rem;
}
.banner{
    width: 100%;
}

/* comenzando el main */
p{
    font-size: 12px;
}

/* comienzo de las secciones */

.productInfo{
    font-family:'Roboto', sans-serif;
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: var(--Gris-claro);
    padding: 2rem;
    margin: 1rem;
    width: 15%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    
}

.product_box{
    box-sizing: border-box;
}

.prodPrice{
    font-size: 18px;
    margin-right: 0.6rem;
}

.prodDescont{
    font-size: 16px;
    color: var(--Verde);
}

.prodDescript{
    font-size: 16px;
}

.precio_descuento{
    display: flex;
    align-items: baseline;
}

.productContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    color: var(--Verde);
    top: -15px;
}

.sectionTitle{
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-size: 24px;
    font-weight: bold;
}

footer{
    margin: 2rem;
    padding: 2rem;
    background-color: var(--Amarillo);
}
footer ul{
    display: flex;
    justify-content: space-between;
}

.footerItem{
    text-align: center;
    padding: 5rem;
}

.footerIcon{
    font-size: 2em;
    color: var(--Celeste);
}

.copyright{
    font-size: 10px;
    justify-content: center;
    display: flex;
    
}
/* responsive */
@media (max-width:700px) {
    .productContainer{
        justify-content: center;
        display:flex;
        flex-direction: column;
        width: 90%;
        box-sizing:border-box
    }
    .productInfo {
        font-family:'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        background-color: white;
        padding: 0 0 0 1rem;
        margin: 1rem;
        width: 100%;
    }
    .desktop-nav{
        display: none;
    }
    .mobile-nav{
        display: flex;
        background-color:var(--Gris-claro);
        padding: 1.5rem;
        justify-content: space-between;
    }
    .mobile-nav div i{
        font-size: 2rem;
        margin: 0.2rem;
    }
    .encabezado{
        flex-direction: column;
    }
    .logoPrinc{
        width: 70%;
    }

    footer ul{
        flex-direction: column;
    }
}